.input-field{
    outline: none;
    padding: 9px 20px;
    border: 0;
    border-radius: 6px;
    font-size: 15px;
    background-color: #F7F7F7;
    transition: all 200ms;
}
input:focus{
    background-color: #eaeaea;
}